* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.homepage {
    display: flex;
    flex-direction: column;
    background-image: url("images/homepagebackground2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;
}

header h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid white;
    padding: .3em;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1%;
    margin-left: .6%;
    position: fixed;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    margin: .2em;
}

nav a img {
    border-radius: 7%;
    border: 2px solid black;
    width: 60px;
    height: 60px;
}

nav a img:hover {
    border: solid whitesmoke;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main.homepage a {
    color: white;
    text-decoration: none;
}

.intro {
    font-size: 20px;
    margin-top: -1%;
    text-align: center;
    width: 35%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    position: relative;
    padding: .5em;
}

.covers {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
}

.covers img {
    border-radius: 7%;
    border: 3px solid black;
    width: 300px;
    height: 300px;
}

.covers div {
    margin: 20px;
    text-align: center;
    transition: all 350ms ease;
}

.covers div img:hover {
    border: solid whitesmoke;
}


.covers div:hover {
    transform: scale(1.2);
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    width: 50%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    padding: 20px;
    gap: 3em;
    font-family: 'Chinese Rocks Rg', sans-serif;
}

.rdr2content {
    display: flex;
    flex-direction: column;
    margin-bottom: 3%;
    width: 20%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    padding: 15px;
    gap: 3em;
    font-family: 'Chinese Rocks Rg', sans-serif;
}

.rating {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    padding: 15px;
    font-size: x-large;
    margin-bottom: 3%;
    font-family: 'Chinese Rocks Rg', sans-serif;
}

.rating h3 {
    text-decoration: underline;
    margin-bottom: 3%;
}

.rating ul {
    list-style-type: none;
}

.foto {
    border: solid white 3px;
    margin-bottom: 3%;
}

.video {
    border: solid white 3px;
    margin-bottom: 3%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3% 0;
    gap: 10%;
}

.container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20%;
}

.mening {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border: 3px solid white;
    width: 20%;
    padding: 15px;
    font-family: 'Chinese Rocks Rg', sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    margin-top: 10%;
    padding: 1em;
    gap: 2em;
}

footer h2 {
    text-decoration: underline;
}

footer ul {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    transition: all;
}

footer a:hover {
    text-decoration: underline;
}

footer a {
    color: white;
}

.bron {
    display: flex;
    flex-direction: row;
    gap: 2em;
}


/*Hier begint Red Dead Redemtption CSS*/

body.RDR2 {
    display: flex;
    flex-direction: column;
    background-image: url("images/RDR2background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;
}

.RDR2banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.RDR2banner img {
    width: 900px;
    height: 300px;
    margin-bottom: 3%;
}

.RDR2tekst {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.RDR2rating {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.RDR2rating li {
    list-style-type: none;
    font-size: x-large;
    margin-bottom: .5em;
}

.RDR2rating img {
    border: 2px solid rgb(223, 211, 211);
    width: 300px;
    height: 168px;
}


/*Hier begint Spider-Man 2 CSS*/

body.SM2 {
    display: flex;
    flex-direction: column;
    background-image: url("images/SM2Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 115vh;
}

.SM2banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5%;
}

.SM2banner img {
    width: 600px;
    height: 190px;
    margin-bottom: 3%;
}

.SMcontent {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 3%;
    width: 40%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(119, 2, 2, 0.9);
    color: white;
    border: 3px solid white;
    position: relative;
    padding: 15px;
    gap: 4em;
}

.SM2tekst {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.SM2rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.SM2rating li {
    list-style-type: none;
    font-size: x-large;
    margin-bottom: .5em;
}

.SM2rating img {
    border: 2px solid rgb(223, 211, 211);
    width: 300px;
    height: 168px;
}

/*Hier begint The Last Of Us Part Two CSS*/

body.TLOU2 {
    display: flex;
    flex-direction: column;
    background-image: url("images/TLOUbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 110vh;
}

.TLOU2banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.TLOU2banner img {
    width: 700px;
    height: 450px;
    margin-top: -3%;
}

.TLOU2tekst {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.TLOUrating {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.TLOUrating li {
    list-style-type: none;
    font-size: x-large;
    margin-bottom: .5em;
}